.menu {
    width: 307px;
    color: $text;
    padding: 15px 50px 0 30px;

    &__title {
        font-weight: 700;
        font-size: 23px;
        line-height: 26px;
    }
    &__info {
        margin-top: 15px;
        &-item {
            list-style-type: none;
        }
        &-link {
            text-decoration: none;
            color: $text;
            display: flex;
            align-items: center;
            padding: 5px 0;
            width: 100%;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            &:hover {
                font-weight: 500;
                background-color: rgba($color: #000000, $alpha: .05);
            }
            &:active {
                color: red;
            }
        }
        &-icon {
            margin-right: 7px;
            svg {
                vertical-align: middle;

            }
        }
    }

    &__list {
        margin-top: 15px;
        &-link {
            li {
                list-style-type: none;
                cursor: pointer;
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            margin: 10px 0;
        }
        &-name {
            margin-right: 9px;
        }
        &-icon {
            display: flex;
            align-items:center;
        }
        &-sublink {
            display: none;
            margin-top: 11px;
            a {
                display: block;
                text-decoration: none;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                color: $text;
                width: 100%;
                &:hover {
                    font-weight: 500;
                    background-color: rgba($color: #000000, $alpha: .05);
                }    
                &:active {
                    color: red;
                }
    
            }
            &.active {
                display: block; 
            }
        }
    }

}